{% extends "auctions/layout.html" %}
{% load url % }
{% block body %}
    <h2 class="text-center my-4">Watchlists</h2>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm border-0">
                        
                        {% if listing.image_url %}
                        <a href="{{ listing.image_url }}" target="_blank">
                            <img src="{{ listing.image_url }}" class="card-img-top" alt="Listing Image">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'listings' listing.id %}">
                                <h4 class="card-title">{{ listing.title }}</h4>
                            </a>
                            <p class="card-text text-muted">{{ listing.description }}</p>

                            
                            <p class="small text-secondary">Created on: {{ listing.create_at }}</p>
                            <form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Remove from Watchlist</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-danger">No active listings found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

